@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #34495e;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.projects-carousel {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.project-card {
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center; /* Centra horizontalmente el contenido */
  text-align: center;
  padding: 20px;
}
.project-card img {
  margin-left: 7rem;
  border-radius: 15px; /* Opcional: un poco de borde redondeado */
}
.project-card a {
  width: 100%;
  padding: 2rem; /* La imagen ocupará todo el ancho del contenedor */
}

.project-card h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.project-card p {
  font-size: 1rem;
  color: #666;
}


@keyframes glowing{
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0 0;
  }
}

.button-git {
  cursor: pointer;
  border: none;
  padding: 0;
  position: relative;
  border-radius: 50%; /* Aseguramos que el contenedor sea circular */
  display: inline-block;
  width: 384px; /* Asegúrate de que el ancho y alto sean iguales a la imagen */
  height: 384px; /* El tamaño que usas para la imagen (w-96 h-96 = 384px) */
}
.button-git::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red, blue, deeppink, blue,
    red, blue, deeppink, blue
  );
  background-size: 800%;
  border-radius: 50%; /* Hace que siga siendo redondo */
  filter: blur(8px);
  animation: glowing 35s linear infinite;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #25223C;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
  position: relative;
}

.content__container::before,
.content__container::after {
  content: '';
  position: absolute;
  top: 0;
  font-size: 42px;
  line-height: 40px;
  color: #16a085;
  animation: opacity 2s infinite;
}

.content__container::before {
  content: '[';
  left: 0;
}

.content__container::after {
  content: ']';
  right: 0;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation: change 10s infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes change {
  0%, 12.66%, 100% { transform: translate3d(0, 0, 0); }
  16.66%, 29.32% { transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% { transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% { transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% { transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% { transform: translate3d(0, -25%, 0); }
}


.redirect-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: 'Lato', sans-serif;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
}
.redirect-button:hover{
  background-color: #16a085;
  transition: background-color 0.5s ease, color 0.5s ease;
}











